Django
djangorestframework
djangorestframework-simplejwt
scikit-learn  # Replaces Torch-based AI
fuzzywuzzy  # For simple text similarity checking
python-magic
Pillow
gunicorn
whitenoise
django-cors-headers
django-image-cropping
easy-thumbnails 
python-Levenshtein
matplotlib
PyPDF2
python-docx
requests
